.container {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 150px 320px 185px 135px;
    grid-gap: 6px 6px;
    margin: 0 auto;
    width: 1200px;
}

.title {
    font-size: 40px;
    margin: 5% 0 5% 5%;
}

.row1-1 {
    grid-column: 1/4;
}

.row1-2 {
    grid-column: 4/7;
}

.row2-1 {
    grid-column: 1/4;
}

.grid {
    grid-column: 4 / 7;
    display: grid;
    grid-template-rows: 170px 150px;
    grid-template-columns: repeat(3, 200px);
    grid-column-gap: 6px;
}

.row2-1-1 {
    grid-column: 1 / 2;
}

.row2-1-2 {
    grid-column: 2 / 3;
}

.row2-1-3 {
    grid-column: 3 / 4;
}

.row2-2-1 {
    grid-column: 1 / 2;
    justify-self: start;
}

.row2-2-2 {
    grid-column: 2 / 4;
    justify-self: end;
}

.row3-1 {
    grid-column: 1/3;
}

.row3-2 {
    grid-column: 3/5;
}

.row3-3 {
    grid-column: 5/6;
}

.row3-4 {
    grid-column: 6/7;
}

.row4-1 {
    grid-column: 1/2;
}

.row4-2 {
    grid-column: 2/5;
}

.row4-3 {
    grid-column: 5/7;
}